// This is your main scss file. You can put any global styles in here and import partials to help keep your code organized.

/*
Example
@import
  "home",
  "about"

Remember, the names of your partial files in the _sass/ directory will have an underscore eg. "_about.scss", but when you import them, they do not.
*/

